<ion-header>
  <ion-toolbar class="background-color">
    <ion-text slot="start">Referrer</ion-text>
    <ion-title style="text-align: center;">Division</ion-title>
    <ion-text slot="end" [routerLink]="['/filter']">Filter</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Segments -->
  <ion-toolbar style="margin: auto;">
    <ion-segment color="primary" value="all" mode="md" scrollable>
      <ion-segment-button value="all" (click)="showAll()">
        <ion-label href="#">All</ion-label>
      </ion-segment-button>

      <ion-segment-button value="successful" (click)="showSuccessful()">
        <ion-label href="#">Successful</ion-label>
      </ion-segment-button>

      <ion-segment-button value="inProgress" (click)="showInProgress()">
        <ion-label href="#">In Progress</ion-label>
      </ion-segment-button>

      <ion-segment-button value="unsuccessful" (click)="showUnsuccessful()">
        <ion-label href="#">Unsuccessful</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div class="header">
    <h6>
      <ion-icon class="calendar" name="calendar"></ion-icon> Financial Year 2019-2020
    </h6>
  </div>

  <ion-searchbar [(ngModel)]="searchText" animated></ion-searchbar>

  <ion-list id="list"></ion-list>
  <!-- <ion-infinite-scroll threshold="100px" id="infinite-scroll">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data..."> -->
  <ion-item-sliding *ngFor="let referral of referrals">
    <ion-item [routerLink]="['/view-referral', referral._id]" (click)="presentLoadingWithOptions()"
      *ngIf="filterCondition(referral)">
      <!-- <ion-avatar slot="start">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHOU8GDQWhyshTbn7T723O3xPSxqO2sKOxhgfFcZ5WATpW4j2QCQ">
        </ion-avatar> -->

      <ion-avatar slot="start">
        <text-avatar [text]="referral.name"></text-avatar>
      </ion-avatar>

      <ion-label>
        <h2>{{ referral.name }} </h2>
        <p>{{ referral._id}}</p>
      </ion-label>
      <ion-badge [color]="referral.status==='In Progress'?'warning':referral.status==='Successful'?'success':'danger'">
        {{ referral.status }}</ion-badge>
    </ion-item>
  </ion-item-sliding>

  <!-- </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>