.background-color {
    --background: #00003f;
}

// ion-toolbar {
//     color: white;
//     font-size: 20px;
// }

.logout {
    color: white;
    float: right;
}

.tutorial {
    // float: right;
    // padding-right: 50px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 15px;
 
}

.card {
    --background: white;
}

.container {
    text-align: center;
    vertical-align: middle;
    align-items: center;
    padding-top: 20px;
}

.avatar{
    margin: auto;

}

