<ion-header>
  <ion-toolbar class="background-color">
    <!-- <ion-title>profile</ion-title> -->
    <ion-button class="logout" fill="empty" (click)="logout()">Log Out</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="background-color">
  <div class="container">
    <ion-avatar class="avatar">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHOU8GDQWhyshTbn7T723O3xPSxqO2sKOxhgfFcZ5WATpW4j2QCQ">
    </ion-avatar>
    <br>
    <!-- <ion-text style="color: white;">User A2</ion-text>
    <h1 style="color: white;">A1</h1> -->
    <ion-label>
      <strong>
        <h1 style="color: white;">A2</h1>
      </strong>
      <p style="color: white;">User ID: 1234s</p>
    </ion-label>
  </div>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Help Screen</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="/assets/helpScreen.png"></ion-img>
      <ion-button class="tutorial" expand="block" fill="outline" [routerLink]="['/tutorial']">How To Create Referrals
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>