<ion-content fullscreen padding scroll-y="false">

  <!-- <div>
    <ion-icon name="close" [routerLink]="['/tabs/profile']"></ion-icon>
  </div> -->

  <ion-slides pager="true">

    <ion-slide>
      <h2 class="step"><b>STEP 1</b></h2>
      <p class="description">Click on Referrals Section</p>
      <ion-img src="/assets/screen1.png"></ion-img>
    </ion-slide>

    <ion-slide>
      <h2 class="step"><b>STEP 2</b></h2>
      <p class="description">Click on the Plus Button</p>
      <ion-img src="/assets/screen2.png"></ion-img>
    </ion-slide>

    <ion-slide>
      <h2 class="step"><b>STEP 3</b></h2>
      <p class="description">Fill up the Customer Info and Click Next</p>
      <ion-img src="/assets/screen3.png"></ion-img>
    </ion-slide>

    <ion-slide>
      <h2 class="step"><b>STEP 4</b></h2>
      <p class="description">Fill up the Product Info and Click Create</p>
      <ion-img src="/assets/screen4.png"></ion-img>

      <ion-button fill="clear" [routerLink]="['/tabs/profile']">Done</ion-button>

    </ion-slide>

  </ion-slides>