:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
  .swiper-slide {
    display: block;
  }
  ion-slide > h2 {
    margin-top: 2.8rem;
  }
  ion-slide > img {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
  }

  ion-icon {
    padding-top: 10px;
    font-size: 30px;
    float: right;
  }

  .step {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .description {
    text-align: center;
  }

  ion-img {
    // max-width: ;
    // max-height: ;
    height: 300px;
  }

  ion-button {
    float: right;
    margin-top: 30px;
    margin-bottom: 10px;
  }