<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="block" [routerLink]="['/tabs/dashboard']">Login</ion-button>
</ion-content>