<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/referrals"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <mat-vertical-stepper linear="false" #stepper>

    <mat-step [stepControl]="userForm">
      <form [formGroup]="userForm">
        <ng-template matStepLabel>Contact Info</ng-template>

        <!-- import contact -->
        <ion-card class="card">
          <ion-card-header>
            <ion-card-subtitle>
              import Contact
            </ion-card-subtitle>
            <p>
              <ion-icon name="call"></ion-icon>import contact from phonebook
            </p>
          </ion-card-header>
        </ion-card>

        <!-- name input -->
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>

        <!-- contact number input -->
        <mat-form-field>
          <input matInput placeholder="Contact No." formControlName="contact" required>
        </mat-form-field>

        <!-- email input -->
        <mat-form-field>
          <input matInput placeholder="Email (optional)" formControlName="email">
        </mat-form-field>

        <div>
          <button mat-button color="primary" matStepperNext style="float: right;">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="userForm" label="Type of Product">
      <form [formGroup]="userForm">

        <!-- division -->
        <mat-form-field>
          <mat-label>Division</mat-label>
          <mat-select name="division">
            <mat-option *ngFor="let division of divisions" [value]="division._id">{{ division.divisionName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- branch -->
        <mat-form-field>
          <mat-label>Branch</mat-label>
          <mat-select name="branch">
            <mat-option *ngFor="let branch of branches" [value]="branch._id">{{ branch.branchName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- type -->
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select name="type">
            <mat-option *ngFor="let type of types" [value]="type._id">{{ type.typeName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- product -->
        <mat-form-field>
          <mat-label>Product</mat-label>
          <mat-select name="product">
            <mat-option *ngFor="let product of products" [value]="product._id">{{ product.productName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- status -->
        <mat-form-field>
          <input matInput placeholder="Status" formControlName="status" value="In Progress" readonly>
        </mat-form-field>

        <!-- Amount -->
        <mat-form-field>
          <input matInput placeholder="Amount" formControlName="amount" required>
        </mat-form-field>

        <div>
          <button mat-button color="secondary" matStepperPrevious>Back</button>
          <button mat-button color="primary" matStepperNext style="float: right;">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step label="Confirmation">
      <p>
        By clicking finish you accept our <a href="/">Terms & Conditions</a>.
      </p>

      <div>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button color="primary" style="float: right;">Submit</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>

</ion-content>