<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="referrals">
      <ion-icon name="people"></ion-icon>
      <ion-label>Referrals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="division">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Division</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>