<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs/referrals']">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/referrals" (click)="closeModal()"></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>


  <ion-list>
    <ion-list-header>
      Referral Lists
    </ion-list-header>

    <!-- Animated Searchbar -->
    <ion-searchbar [(ngModel)]="searchText" animated></ion-searchbar>


    <ion-item-sliding *ngFor="let referral of referrals">
      <ion-item (click)="presentLoadingWithOptions() && dismissModal()" [routerLink]="['/view-referral', referral._id]"
        *ngIf="filterCondition(referral)">

        <ion-avatar slot="start">
          <text-avatar [text]="referral.name"></text-avatar>
        </ion-avatar>

        <ion-label>
          <h2>{{ referral.name }} </h2>
          <p>ID: {{ referral.id }}</p>
        </ion-label>
        <ion-badge
          [color]="referral.status==='In Progress'?'warning':referral.status==='Successful'?'success':'danger'">
          {{ referral.status }}
        </ion-badge>

      </ion-item>
    </ion-item-sliding>

  </ion-list>


</ion-content>