ion-avatar {
    margin: auto;
    // text-align: center;

}

.details {
    padding: 10px;
    text-align: center;
    --background: #00003f;
}

.status {
    padding: 20px;
}

ion-button {
    justify-content: center;

}