.background-color {
    --background: #00003f;
}

ion-toolbar {
    color: white;
    font-size: 20px;
    --background: #00003f;
}

.search {
    // float: left;
    padding-left: 10px;
    // padding-top: 5px;
}

ion-text {
    // float: right;
    padding-right: 15px;
    // padding-top: 5px;
    font-size: 15px;
}

.header {
    color: white;
    text-align: center;
    vertical-align: middle;
}

.calendar {
    font-size: 20px;
    // padding-left: 180px;
}

.card {
    --background: white;
}

ion-segment-button {
    ion-label {
        color: white;
    }
}