<ion-header>
  <ion-toolbar class="background-color">
    <ion-icon slot="start" class="search" name="search"></ion-icon>
    <ion-title style="text-align: center;">Dashboard</ion-title>
    <ion-text slot="end" [routerLink]="['/filter']">Filter</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="background-color">

  <!-- Segments -->
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" color="danger" value="camera">
      <ion-segment-button value="camera">
        <ion-label href="#">Division</ion-label>
      </ion-segment-button>
      <ion-segment-button value="bookmark">
        <ion-label href="#">Individual</ion-label>

      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


  <div class="header">
    <h6>
      <ion-icon class="calendar" name="calendar"></ion-icon> Financial Year 2019-2020
    </h6>
  </div>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Total FUM of Referrals</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean. -->
      <!-- <div id="container" style="display: block;"	></div> -->
      <!-- <div id="highcharts" style="width:100%; height:200px;"></div> -->

      <div id="highcharts" style="width: 100%; min-width: 250px; height: 280px; max-width: 600px; margin: 0 auto"></div>

    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Number of Referrals</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div id="highcharts2" style="width: 100%; min-width: 250px; height: 280px; max-width: 600px; margin: 0 auto">
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>