<ion-header>
  <ion-toolbar class="background-color">
    <ion-text slot="start" [routerLink]="['/tabs/dashboard']">Cancel</ion-text>
    <ion-title style="text-align: center;">Filter</ion-title>
    <ion-text slot="end" [routerLink]="['/filter']">Save</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Filter By...
    </ion-list-header>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>YEAR</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Last Financial Year</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>This Financial Year</ion-label>
      </ion-item>
      <br>

      <ion-item-divider>
        <ion-label>CUSTOM</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item lines="none">
        <ion-label>End Date</ion-label>
        <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
      </ion-item>

      <ion-item lines="none">
        <!-- <ion-row>
          <ion-col>
            <ion-label>Start Date</ion-label>
          </ion-col>

          <ion-col>
            <ion-label>End Date</ion-label>
          </ion-col>
        </ion-row> -->
      </ion-item>

    </ion-item-group>
  </ion-list>
</ion-content>